@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
.color {
  display: inline-block;
  position: relative; }
  .color img {
    display: block;
    left: 0;
    top: 0;
    z-index: -1; }
  .color:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2; }
  .color.red:before {
    mix-blend-mode: color;
    background: red;
    -webkit-filter: opacity(50%);
            filter: opacity(50%); }
  .color.black:before {
    mix-blend-mode: multiply;
    background: #ccc;
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8); }
  .color.white:before {
    mix-blend-mode: screen;
    background: #888; }
