@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
body {
  font-family: 'Open Sans', sans-serif; }

.picture {
  display: inline-block;
  position: relative; }
  .picture img {
    display: block;
    height: 128px;
    width: 128px; }
  .picture:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1; }
  .picture.red:before {
    mix-blend-mode: color;
    background: #cc0000; }
  .picture.black {
    -webkit-filter: brightness(0.6) grayscale(0.2) contrast(1.5);
            filter: brightness(0.6) grayscale(0.2) contrast(1.5); }
    .picture.black:before {
      mix-blend-mode: multiply;
      background: silver; }
  .picture.white {
    -webkit-filter: brightness(1.5) grayscale(0.2) contrast(1.5);
            filter: brightness(1.5) grayscale(0.2) contrast(1.5); }
    .picture.white:before {
      mix-blend-mode: exclusion;
      background: #111; }
