// 400,700,300,800

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

.color{
  display: inline-block;
  position: relative;
  img{
    display:block;
    left:0;
    top:0;
    z-index:-1;
  }
  &:before{
    content:"";
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:2;
  }
  &.red:before{
   mix-blend-mode:color;
   background: red;
   filter: opacity(50%);
  }
  &.black:before{
    mix-blend-mode:multiply;
    background: #ccc;
    filter: brightness(0.8);
  }
   &.white:before{
    mix-blend-mode:screen;
    background: #888;
  }
}
